name: Build Pingbot Firmware

permissions:
  contents: write

on:
  release:
    types: [published]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

      - name: Clone Repo
        uses: actions/checkout@v4

      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-environment

      - name: Build Firmware
        env:
          FIRMWARE_VERSION: ${{ env.GIT_TAG_VERSION }}
        run: /usr/bin/env bash build.sh build-firmware ProMicro_pingbot

      - name: Upload Workflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pingbot-firmware
          path: out

      - name: Upload Assets to existing Release
        uses: softprops/action-gh-release@v2
        with:
          files: out/*